<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{getTitle()}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="secondaryBack" padding>

  <ion-card padding>
    <div class="flexAround">
      <button (click)="switchCare('milk')" ion-button [outline]="careType=='milk'? false:true">
        <i class="flaticon-milk"></i>
      </button>
      <button (click)="switchCare('water')" ion-button [outline]="careType=='water'? false:true">
        <i class="flaticon-water"></i>
      </button>
      <button (click)="switchCare('meal')" ion-button [outline]="careType=='meal'? false:true">
        <ion-icon name="restaurant"></ion-icon>
      </button>
      <button (click)="switchCare('nappy')" ion-button [outline]="careType=='nappy'? false:true">
        <i class="flaticon-nappy"></i>
      </button>
      <button (click)="switchCare('bath')" ion-button [outline]="careType=='bath'? false:true">
        <i class="flaticon-bath"></i>
      </button>
    </div>
    <div class="flexAround">
      <button (click)="switchCare('sleep')" ion-button [outline]="careType=='sleep'? false:true">
        <i class="flaticon-sleep"></i>
      </button>
      <button (click)="switchCare('weight')" ion-button [outline]="careType=='weight'? false:true">
        <i class="flaticon-weight"></i>
      </button>
      <button (click)="switchCare('size')" ion-button [outline]="careType=='size'? false:true">
        <ion-icon name="resize"></ion-icon>
      </button>
      <button (click)="switchCare('temperature')" ion-button [outline]="careType=='temperature'? false:true">
        <i class="flaticon-temperature"></i>
      </button>
      <button (click)="switchCare('comment')" ion-button [outline]="careType=='comment'? false:true">
        <i class="flaticon-comment"></i>
      </button>
    </div>
  </ion-card>

  <ion-card padding>
    <div class="flexAround">
      <button (click)="setTimeScale('day')" ion-button small [outline]="timeScale=='day'? false:true">
        24H
      </button>
      <button (click)="setTimeScale('week')" ion-button small [outline]="timeScale=='week'? false:true">
        1 semaine
      </button>
      <button (click)="setTimeScale('month')" ion-button small [outline]="timeScale=='month'? false:true">
        1 mois
      </button>
      <button (click)="setTimeScale('birth')" ion-button small [outline]="timeScale==''? false:true">
        Tous
      </button>
    </div>
    <ion-card-content>
      <canvas class="myChart" #myChart width="400" height="400"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card padding>
    <h2 class="textCenter">{{getTitle()}}</h2>
    <div class="flexAround">
      <button ion-button small (click)="newCare()" >Ajouter</button>
      <button ion-button small (click)="createPdf()" >Export pdf</button>
    </div>

    <ion-list *ngIf="careType=='milk'">
      <span *ngFor="let milk of user.currentBaby.milk">
        <ion-item class="care" *ngIf="milk.createDate>getDateLimit()" (click)="editCare(milk)">
          <p>{{getDateinText(milk.createDate)}}:
            <strong>{{milk.qte}}ml</strong> par
            <strong>{{milk.carerName}}</strong>
          </p>
        </ion-item>
      </span>
    </ion-list>

    <ion-list *ngIf="careType=='water'">
      <span *ngFor="let water of user.currentBaby.water">
        <ion-item class="care" *ngIf="water.createDate>getDateLimit()" (click)="editCare(water)">
          <p>{{getDateinText(water.createDate)}}:
            <strong>{{water.qte}}ml</strong> par
            <strong>{{water.carerName}}</strong>
          </p>
        </ion-item>
      </span>
    </ion-list>

    <ion-list *ngIf="careType=='weight'">
      <span *ngFor="let weight of user.currentBaby.weight">
        <ion-item class="care" *ngIf="weight.createDate>getDateLimit()" (click)="editCare(weight)">
          <p>{{getDateinText(weight.createDate)}}:
            <strong>{{weight.qte}}kg</strong> par
            <strong>{{weight.carerName}}</strong>
          </p>
        </ion-item>
      </span>
    </ion-list>

    <ion-list *ngIf="careType=='size'">
      <span *ngFor="let size of user.currentBaby.size">
        <ion-item class="care" *ngIf="size.createDate>getDateLimit()" (click)="editCare(size)">
          <p>{{getDateinText(size.createDate)}}:
            <strong>{{size.qte}}cm</strong> par
            <strong>{{size.carerName}}</strong>
          </p>
        </ion-item>
      </span>
    </ion-list>

    <ion-list *ngIf="careType=='temperature'">
      <span *ngFor="let temperature of user.currentBaby.temperature">
        <ion-item class="care" *ngIf="temperature.createDate>getDateLimit()" (click)="editCare(temperature)">
          <p>{{getDateinText(temperature.createDate)}}:
            <strong>{{temperature.qte}}°C</strong> par
            <strong>{{temperature.carerName}}</strong>
          </p>
        </ion-item>
      </span>
    </ion-list>

    <ion-list *ngIf="careType=='bath'">
      <span *ngFor="let bath of user.currentBaby.bath">
        <ion-item class="care" *ngIf="bath.createDate>getDateLimit()" (click)="editCare(bath)">
          <p>{{getDateinText(bath.createDate)}}: par
            <strong>{{bath.carerName}}</strong>
          </p>
        </ion-item>
      </span>
    </ion-list>

    <ion-list *ngIf="careType=='nappy'">
      <span *ngFor="let nappy of user.currentBaby.nappy">
        <ion-item class="care" *ngIf="nappy.createDate>getDateLimit()" (click)="editCare(nappy)">
          <p>{{getDateinText(nappy.createDate)}}:
            <span *ngIf="nappy.urine"> urine</span>
            <span *ngIf="nappy.stool"> selles</span>
            <span *ngIf="nappy.diarrhoea"> diarrhée</span> par
            <strong>{{nappy.carerName}}</strong>
          </p>
        </ion-item>
      </span>
    </ion-list>

    <ion-list *ngIf="careType=='sleep'">
      <span *ngFor="let sleep of user.currentBaby.sleep">
        <ion-item class="care" *ngIf="sleep.createDate>getDateLimit()" (click)="editCare(sleep)">
          <p>{{getDateinText(sleep.createDate)}}:
            <strong>{{getDurationInText(sleep.duration)}}</strong> par
            <strong>{{sleep.carerName}}</strong>
          </p>
        </ion-item>
      </span>
    </ion-list>

    <ion-list *ngIf="careType=='comment'">
      <span *ngFor="let comment of user.currentBaby.comment">
        <ion-item class="care" *ngIf="comment.createDate>getDateLimit()" (click)="editCare(comment)">
          <p>{{getDateinText(comment.createDate)}}: par
            <strong>{{comment.carerName}}</strong>
          </p>
          <p>{{comment.content}}</p>
        </ion-item>
      </span>
    </ion-list>

    <ion-list *ngIf="careType=='meal'">
      <span *ngFor="let meal of user.currentBaby.meal">
        <ion-item class="care" *ngIf="meal.createDate>getDateLimit()" (click)="editCare(meal)">
          <p>{{getDateinText(meal.createDate)}}: par
            <strong>{{meal.carerName}}</strong>
          </p>
          <p>{{meal.content}}</p>
        </ion-item>
      </span>
    </ion-list>

  </ion-card>


</ion-content>